<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit {{filename}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <h1>Edit {{filename}}</h1>
        <form method="POST">
            <textarea name="content" rows="20" cols="100">{{content}}</textarea><br>
            <button type="submit" onclick="return confirmEditSave()">Save Changes</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
